name: dump payload
on:
    workflow_run:
      workflows:
        - echo cron
      types:
        - completed
      branches:
        - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: payload
        env:
            EVENT_CONTEXT: ${{ toJson(github.event) }}
        run: 
            echo '```json' >> $GITHUB_STEP_SUMMARY
            echo "\n"
            echo $EVENT_CONTEXT >> $GITHUB_STEP_SUMMARY
            echo "\n"
            echo '```' >> $GITHUB_STEP_SUMMARY
      - name: fail
        if: ${{ github.event.workflow_run.conclusion != 'success' }}
        run: |
            echo ${{ github.event.workflow_run.conclusion }}
            exit 1
      - name: ok
        run: echo ok
